AS=$(BUILD_ROOT)/cross/bin/i586-elf-as
AR=$(BUILD_ROOT)/cross/bin/i586-elf-ar
GCC=$(BUILD_ROOT)/cross/bin/i586-elf-gcc
NIM=nim

BUILD_DIR=$(BUILD_ROOT)/target

KERNEL_BIN_NAME=assyria.bin
KERNEL_BIN=$(BUILD_DIR)/$(KERNEL_BIN_NAME)
PROJECTS=kernel libc

ARCH_TARGET:=$(ARCH_TARGET)

export SYSROOT=$(BUILD_DIR)/sysroot
NIMPATH=$(SYSROOT)/usr/lib/nim

NIMCACHE=$(BUILD_DIR)/nimcache

NIMFLAGS=\
--passc:"$(CFLAGS)" \
--cpu:$(ARCH_TARGET) \
--os:standalone \
--cc:gcc \
--path:$(NIMPATH) \
--gcc.exe:$(GCC)

CFLAGS=\
-nostdlib\
-ffreestanding\
-O2\
-Wall\
-Wextra\
-isystem $(SYSROOT)/usr/include
